# macOS system file
.DS_Store

# Your model folder
bert-phishing-classifier_teacher/

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/
.hf_env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

.env
.env.*
*.env